mixin breadcrumbs(path)
    
    ul.breadcrumbs
        each breadcrumbsElement, key in path
            li(class=key ? "breadcrumbs_element" : "breadcrumbs_element--first")
                a.breadcrumbs_link(href="#{breadcrumbsElement.url}").
                    span.breadcrumbs_text
                        #{breadcrumbsElement.text}