header.header
    .header-top-line
        .header-top-line_cell.header-top-line_cell--socials-wrapper
            ul.socials
                li.socials_icon-wrapper
                    a(href="#" title="Facebook")
                        i.ico.socials_icon.socials_icon--facebook.
                            Facebook
                li.socials_icon-wrapper
                    a(href="#" title="вКонтакте")
                        i.ico.socials_icon.socials_icon--vkontakte.
                            вКонтакте
                li.socials_icon-wrapper
                    a(href="#" title="Twitter")
                        i.ico.socials_icon.socials_icon--twitter.
                            Twitter
        .header-top-line_cell.header-top-line_cell--address-wrapper
            .address
                span.address_text.
                    ул. Маяковская 6, офис 17
        .header-top-line_cell.header-top-line_cell--contacts-wrapper
            .contacts
                .contacts_phone.
                    +7 921 123-12-13
    .header-bottom-line
        .header-bottom-line_cell.header-bottom-line_cell--logo-wrapper
            .logo
                a.logo_link(href="/")
                    img.logo_img(src="assets/images/logo.png" alt="Cooltech")
        .header-bottom-line_cell.header-bottom-line_cell--search-wrapper
            .header-search
                form(action="#" method="get")
                    input.header-search_query-input(type="text" placeholder="Что будем искать" name="q")
                    button.header-search_submit-button(type="submit").
                        Найти
        .header-bottom-line_cell.header-bottom-line_cell--menu-wrapper
            ul.top-menu
                li.top-menu_menu-item
                    a.top-menu_menu-link(href="#")
                        span.top-menu_text.
                            Карта проезда
                li.top-menu_menu-item
                    a.top-menu_menu-link(href="#")
                        span.top-menu_text.
                            История заказов
                li.top-menu_menu-item
                    a.top-menu_menu-link(href="#")
                        span.top-menu_text.
                            Корзина