include modules/_mixins


doctype html
html.no-js
    include modules/_head

  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    .wrapper
        include modules/_header
        block main-menu
        block breadcrumbs

        h1.page-title
            block page-title

        .info-text
            h2.info-text_title.
                Важная информация
            block info-text

        include modules/_footer