extends _layout


block title
    Главная интернет магазина

block main-menu
    +main-menu("#mobile")

block breadcrumbs
    -
        var path =  [
                        {
                            url: "/",
                            text: "Главная"
                        },
                        {
                            url: "#",
                            text: "Каталог"
                        }
                    ];
    +breadcrumbs(path)

block page-title
    Мобильные телефоны